.pattern {
    background-image: url("/pattern.svg");
}

.pattern::after {
    position: absolute;
    inset: 0px;
    content: "";
    display: block;
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 0px, transparent 30%, transparent);
}
