@font-face {
    font-family: "Inter";

    src: url("../fonts/Inter-ExtraBold.ttf") format("truetype");

    font-weight: 800;

    /* ExtraBold */
}

@font-face {
    font-family: "Inter";

    src: url("../fonts/Inter-Bold.ttf") format("truetype");

    font-weight: 700;

    /* bold */
}

@font-face {
    font-family: "Inter";

    src: url("../fonts/Inter-SemiBold.ttf") format("truetype");

    font-weight: 600;

    /* SemiBold */
}

@font-face {
    font-family: "Inter";

    src: url("../fonts/Inter-Medium.ttf") format("truetype");

    font-weight: 500;

    /* Medium */
}

@font-face {
    font-family: "Inter";

    src: url("../fonts/Inter-Regular.ttf") format("truetype");

    font-weight: 400;

    /* Regular */
}

/* ! tailwindcss v3.2.4 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
    box-sizing: border-box;
    /* 1 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: currentColor;
    /* 2 */
}

::before,
::after {
    --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/

html {
    line-height: 1.5;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    -o-tab-size: 4;
    tab-size: 4;
    /* 3 */
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 4 */
    font-feature-settings: normal;
    /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
    margin: 0;
    /* 1 */
    line-height: inherit;
    /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
    height: 0;
    /* 1 */
    color: inherit;
    /* 2 */
    border-top-width: 1px;
    /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
    color: inherit;
    text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
    text-indent: 0;
    /* 1 */
    border-color: inherit;
    /* 2 */
    border-collapse: collapse;
    /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    font-weight: inherit;
    /* 1 */
    line-height: inherit;
    /* 1 */
    color: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
    padding: 0;
    /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
    text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 1 */
    background-color: transparent;
    /* 2 */
    background-image: none;
    /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
    outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
    box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
    vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
    resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
    cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
    cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    /* 1 */
    vertical-align: middle;
    /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
    max-width: 100%;
    height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
    display: none;
}

*,
::before,
::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

.container {
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.left-0 {
    left: 0px;
}

.right-0 {
    right: 0px;
}

.top-0 {
    top: 0px;
}

.top-4 {
    top: 1rem;
}

.left-4 {
    left: 1rem;
}

.right-6 {
    right: 1.5rem;
}

.bottom-4 {
    bottom: 1rem;
}

.left-6 {
    left: 1.5rem;
}

.bottom-0 {
    bottom: 0px;
}

.right-4 {
    right: 1rem;
}

.top-\[-94px\] {
    top: -94px;
}

.z-fixed {
    z-index: 9999;
}

.z-\[1\] {
    z-index: 1;
}

.z-dropdowns {
    z-index: 99;
}

.z-0 {
    z-index: 0;
}

.z-10 {
    z-index: 10;
}

.order-first {
    order: -9999;
}

.order-last {
    order: 9999;
}

.col-span-1 {
    grid-column: span 1 / span 1;
}

.col-span-3 {
    grid-column: span 3 / span 3;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.\!m-0 {
    margin: 0px !important;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mr-2 {
    margin-right: 0.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-\[-16px\] {
    margin-left: -16px;
}

.mr-3 {
    margin-right: 0.75rem;
}

.mt-\[10px\] {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-12 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mb-12 {
    margin-bottom: 3rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-8 {
    margin-top: 2rem;
}

.ml-auto {
    margin-left: auto;
}

.mb-4 {
    margin-bottom: 1rem;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.grid {
    display: grid;
}

.aspect-square {
    aspect-ratio: 1 / 1;
}

.aspect-\[3\/4\] {
    aspect-ratio: 3/4;
}

.h-5 {
    height: 1.25rem;
}

.h-12 {
    height: 3rem;
}

.h-full {
    height: 100%;
}

.h-6 {
    height: 1.5rem;
}

.h-4 {
    height: 1rem;
}

.h-8 {
    height: 2rem;
}

.h-10 {
    height: 2.5rem;
}

.h-1 {
    height: 0.25rem;
}

.h-screen {
    height: 100vh;
}

.max-h-\[20px\] {
    max-height: 20px;
}

.max-h-fit {
    max-height: -moz-fit-content;
    max-height: fit-content;
}

.min-h-screen {
    min-height: 100vh;
}

.min-h-\[40px\] {
    min-height: 40px;
}

.min-h-\[310px\] {
    min-height: 310px;
}

.min-h-\[196px\] {
    min-height: 196px;
}

.w-full {
    width: 100%;
}

.w-5 {
    width: 1.25rem;
}

.w-12 {
    width: 3rem;
}

.w-6 {
    width: 1.5rem;
}

.w-4 {
    width: 1rem;
}

.w-fit {
    width: -moz-fit-content;
    width: fit-content;
}

.w-8 {
    width: 2rem;
}

.w-10 {
    width: 2.5rem;
}

.w-1 {
    width: 0.25rem;
}

.w-\[6rem\] {
    width: 6rem;
}

.w-\[90\%\] {
    width: 90%;
}

.w-\[110px\] {
    width: 110px;
}

.min-w-\[280px\] {
    min-width: 280px;
}

.min-w-full {
    min-width: 100%;
}

.min-w-\[80px\] {
    min-width: 80px;
}

.min-w-\[160px\] {
    min-width: 160px;
}

.min-w-\[200px\] {
    min-width: 200px;
}

.min-w-\[96px\] {
    min-width: 96px;
}

.min-w-\[276px\] {
    min-width: 276px;
}

.min-w-\[60px\] {
    min-width: 60px;
}

.max-w-7xl {
    max-width: 80rem;
}

.max-w-6xl {
    max-width: 72rem;
}

.max-w-4xl {
    max-width: 56rem;
}

.max-w-fit {
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.max-w-\[512px\] {
    max-width: 512px;
}

.max-w-\[420px\] {
    max-width: 420px;
}

.max-w-\[460px\] {
    max-width: 460px;
}

.max-w-\[260px\] {
    max-width: 260px;
}

.max-w-\[200px\] {
    max-width: 200px;
}

.max-w-\[90\%\] {
    max-width: 90%;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.shrink-0 {
    flex-shrink: 0;
}

.flex-grow {
    flex-grow: 1;
}

.grow-0 {
    flex-grow: 0;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.list-disc {
    list-style-type: disc;
}

.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-\[repeat\(auto-fill\2c _minmax\(300px\2c _1fr\)\)\] {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-cols-\[repeat\(auto-fill\2c _minmax\(180px\2c _1fr\)\)\] {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-4 {
    gap: 1rem;
}

.gap-6 {
    gap: 1.5rem;
}

.gap-3 {
    gap: 0.75rem;
}

.gap-8 {
    gap: 2rem;
}

.gap-x-5 {
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
}

.gap-y-8 {
    row-gap: 2rem;
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-x-3 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem * var(--tw-space-x-reverse));
    margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-\[10px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(10px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(10px * var(--tw-space-y-reverse));
}

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse));
    margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
}

.space-y-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.space-y-\[6px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(6px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(6px * var(--tw-space-y-reverse));
}

.space-x-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-x-\[5rem\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(5rem * var(--tw-space-x-reverse));
    margin-left: calc(5rem * calc(1 - var(--tw-space-x-reverse)));
}

.overflow-hidden {
    overflow: hidden;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-md {
    border-radius: 0.375rem;
}

.rounded-sm {
    border-radius: 0.125rem;
}

.border-\[2px\] {
    border-width: 2px;
}

.border {
    border-width: 1px;
}

.border-l-2 {
    border-left-width: 2px;
}

.border-b {
    border-bottom-width: 1px;
}

.border-none {
    border-style: none;
}

.border-primary-800 {
    --tw-border-opacity: 1;
    border-color: rgb(35 41 71 / var(--tw-border-opacity));
}

.border-neutral-100 {
    --tw-border-opacity: 1;
    border-color: rgb(226 226 226 / var(--tw-border-opacity));
}

.border-transparent {
    border-color: transparent;
}

.border-neutral-200 {
    --tw-border-opacity: 1;
    border-color: rgb(206 206 206 / var(--tw-border-opacity));
}

.border-danger-500 {
    --tw-border-opacity: 1;
    border-color: rgb(195 39 52 / var(--tw-border-opacity));
}

.border-neutral-50 {
    --tw-border-opacity: 1;
    border-color: rgb(248 249 249 / var(--tw-border-opacity));
}

.border-primary-700 {
    --tw-border-opacity: 1;
    border-color: rgb(50 58 99 / var(--tw-border-opacity));
}

.border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-neutral-100\/50 {
    border-color: rgb(226 226 226 / 0.5);
}

.border-primary-300 {
    --tw-border-opacity: 1;
    border-color: rgb(156 164 205 / var(--tw-border-opacity));
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-neutral-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(248 249 249 / var(--tw-bg-opacity));
}

.bg-primary-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(85 100 170 / var(--tw-bg-opacity));
}

.bg-secondary-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(248 245 242 / var(--tw-bg-opacity));
}

.bg-primary-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(213 216 234 / var(--tw-bg-opacity));
}

.bg-success-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(209 250 229 / var(--tw-bg-opacity));
}

.bg-danger-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(244 202 205 / var(--tw-bg-opacity));
}

.bg-warning-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 243 199 / var(--tw-bg-opacity));
}

.bg-kale-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(242 247 247 / var(--tw-bg-opacity));
}

.bg-neutral-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(226 226 226 / var(--tw-bg-opacity));
}

.bg-primary-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(77 90 153 / var(--tw-bg-opacity));
}

.bg-primary-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(241 242 248 / var(--tw-bg-opacity));
}

.bg-primary-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(50 58 99 / var(--tw-bg-opacity));
}

.bg-neutral-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(206 206 206 / var(--tw-bg-opacity));
}

.bg-neutral-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(128 128 128 / var(--tw-bg-opacity));
}

.bg-neutral-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(186 186 186 / var(--tw-bg-opacity));
}

.bg-danger-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(251 237 238 / var(--tw-bg-opacity));
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.p-3 {
    padding: 0.75rem;
}

.\!p-0 {
    padding: 0px !important;
}

.p-\[6px\] {
    padding: 6px;
}

.p-2 {
    padding: 0.5rem;
}

.p-0 {
    padding: 0px;
}

.p-6 {
    padding: 1.5rem;
}

.px-\[10px\] {
    padding-left: 10px;
    padding-right: 10px;
}

.py-\[6px\] {
    padding-top: 6px;
    padding-bottom: 6px;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-\[6px\] {
    padding-left: 6px;
    padding-right: 6px;
}

.py-\[2px\] {
    padding-top: 2px;
    padding-bottom: 2px;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-\[2rem\] {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.pl-8 {
    padding-left: 2rem;
}

.pl-4 {
    padding-left: 1rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.pl-\[16px\] {
    padding-left: 16px;
}

.pt-\[3rem\] {
    padding-top: 3rem;
}

.pb-8 {
    padding-bottom: 2rem;
}

.pt-6 {
    padding-top: 1.5rem;
}

.pl-\[3rem\] {
    padding-left: 3rem;
}

.pr-\[4rem\] {
    padding-right: 4rem;
}

.pl-1 {
    padding-left: 0.25rem;
}

.pr-3 {
    padding-right: 0.75rem;
}

.pt-4 {
    padding-top: 1rem;
}

.pl-3 {
    padding-left: 0.75rem;
}

.pt-\[60px\] {
    padding-top: 60px;
}

.pb-6 {
    padding-bottom: 1.5rem;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-\[11px\] {
    font-size: 11px;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-\[0\.625rem\] {
    font-size: 0.625rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.font-semibold {
    font-weight: 600;
}

.font-medium {
    font-weight: 500;
}

.font-normal {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.leading-6 {
    line-height: 1.5rem;
}

.leading-3 {
    line-height: 0.75rem;
}

.leading-5 {
    line-height: 1.25rem;
}

.leading-\[46px\] {
    line-height: 46px;
}

.text-neutral-600 {
    --tw-text-opacity: 1;
    color: rgb(108 108 108 / var(--tw-text-opacity));
}

.text-primary-500 {
    --tw-text-opacity: 1;
    color: rgb(85 100 170 / var(--tw-text-opacity));
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-neutral-800 {
    --tw-text-opacity: 1;
    color: rgb(69 69 69 / var(--tw-text-opacity));
}

.text-neutral-500 {
    --tw-text-opacity: 1;
    color: rgb(128 128 128 / var(--tw-text-opacity));
}

.text-inherit {
    color: inherit;
}

.text-neutral-300 {
    --tw-text-opacity: 1;
    color: rgb(186 186 186 / var(--tw-text-opacity));
}

.text-primary-300 {
    --tw-text-opacity: 1;
    color: rgb(156 164 205 / var(--tw-text-opacity));
}

.text-neutral-700 {
    --tw-text-opacity: 1;
    color: rgb(88 88 88 / var(--tw-text-opacity));
}

.text-primary-600 {
    --tw-text-opacity: 1;
    color: rgb(77 90 153 / var(--tw-text-opacity));
}

.text-success-600 {
    --tw-text-opacity: 1;
    color: rgb(5 150 105 / var(--tw-text-opacity));
}

.text-danger-600 {
    --tw-text-opacity: 1;
    color: rgb(160 32 42 / var(--tw-text-opacity));
}

.text-warning-600 {
    --tw-text-opacity: 1;
    color: rgb(217 119 6 / var(--tw-text-opacity));
}

.text-kale-600 {
    --tw-text-opacity: 1;
    color: rgb(89 145 145 / var(--tw-text-opacity));
}

.text-primary-700 {
    --tw-text-opacity: 1;
    color: rgb(50 58 99 / var(--tw-text-opacity));
}

.\!text-\[\#BABABA\] {
    --tw-text-opacity: 1 !important;
    color: rgb(186 186 186 / var(--tw-text-opacity)) !important;
}

.\!text-neutral-800 {
    --tw-text-opacity: 1 !important;
    color: rgb(69 69 69 / var(--tw-text-opacity)) !important;
}

.text-neutral-400 {
    --tw-text-opacity: 1;
    color: rgb(147 147 147 / var(--tw-text-opacity));
}

.text-neutral-100 {
    --tw-text-opacity: 1;
    color: rgb(226 226 226 / var(--tw-text-opacity));
}

.text-secondary-200 {
    --tw-text-opacity: 1;
    color: rgb(226 191 178 / var(--tw-text-opacity));
}

.text-danger-500 {
    --tw-text-opacity: 1;
    color: rgb(195 39 52 / var(--tw-text-opacity));
}

.underline {
    text-decoration-line: underline;
}

.\!no-underline {
    text-decoration-line: none !important;
}

.underline-offset-\[6px\] {
    text-underline-offset: 6px;
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.shadow-none {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.shadow-nav {
    --tw-shadow: 0px 20px 30px rgba(128, 128, 128, 0.05);
    --tw-shadow-colored: 0px 20px 30px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
        0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.outline-dashed {
    outline-style: dashed;
}

.outline-1 {
    outline-width: 1px;
}

.outline-2 {
    outline-width: 2px;
}

.outline-offset-2 {
    outline-offset: 2px;
}

.outline-neutral-400 {
    outline-color: #939393;
}

.outline-neutral-100 {
    outline-color: #e2e2e2;
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
        var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia)
        var(--tw-drop-shadow);
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
        opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
        opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
        opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.duration-300 {
    transition-duration: 300ms;
}

.duration-200 {
    transition-duration: 200ms;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.placeholder\:text-sm::-moz-placeholder {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.placeholder\:text-sm::placeholder {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.placeholder\:text-xs::-moz-placeholder {
    font-size: 0.75rem;
    line-height: 1rem;
}

.placeholder\:text-xs::placeholder {
    font-size: 0.75rem;
    line-height: 1rem;
}

.placeholder\:font-normal::-moz-placeholder {
    font-weight: 400;
}

.placeholder\:font-normal::placeholder {
    font-weight: 400;
}

.placeholder\:text-neutral-300::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(186 186 186 / var(--tw-text-opacity));
}

.placeholder\:text-neutral-300::placeholder {
    --tw-text-opacity: 1;
    color: rgb(186 186 186 / var(--tw-text-opacity));
}

.before\:absolute::before {
    content: var(--tw-content);
    position: absolute;
}

.before\:top-\[8px\]::before {
    content: var(--tw-content);
    top: 8px;
}

.before\:left-\[8px\]::before {
    content: var(--tw-content);
    left: 8px;
}

.before\:top-\[2px\]::before {
    content: var(--tw-content);
    top: 2px;
}

.before\:left-\[2px\]::before {
    content: var(--tw-content);
    left: 2px;
}

.before\:top-\[3px\]::before {
    content: var(--tw-content);
    top: 3px;
}

.before\:left-\[3px\]::before {
    content: var(--tw-content);
    left: 3px;
}

.before\:z-\[-1\]::before {
    content: var(--tw-content);
    z-index: -1;
}

.before\:block::before {
    content: var(--tw-content);
    display: block;
}

.before\:h-full::before {
    content: var(--tw-content);
    height: 100%;
}

.before\:w-full::before {
    content: var(--tw-content);
    width: 100%;
}

.before\:rounded-lg::before {
    content: var(--tw-content);
    border-radius: 0.5rem;
}

.before\:border-\[2px\]::before {
    content: var(--tw-content);
    border-width: 2px;
}

.before\:border-primary-800::before {
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-color: rgb(35 41 71 / var(--tw-border-opacity));
}

.before\:bg-secondary-200::before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(226 191 178 / var(--tw-bg-opacity));
}

.before\:text-3xl::before {
    content: var(--tw-content);
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.before\:font-semibold::before {
    content: var(--tw-content);
    font-weight: 600;
}

.before\:font-bold::before {
    content: var(--tw-content);
    font-weight: 700;
}

.before\:text-neutral-200::before {
    content: var(--tw-content);
    --tw-text-opacity: 1;
    color: rgb(206 206 206 / var(--tw-text-opacity));
}

.before\:text-primary-800::before {
    content: var(--tw-content);
    --tw-text-opacity: 1;
    color: rgb(35 41 71 / var(--tw-text-opacity));
}

.before\:content-\[\'\'\]::before {
    --tw-content: "";
    content: var(--tw-content);
}

.before\:content-\[attr\(before\)\]::before {
    --tw-content: attr(before);
    content: var(--tw-content);
}

.after\:absolute::after {
    content: var(--tw-content);
    position: absolute;
}

.after\:top-0::after {
    content: var(--tw-content);
    top: 0px;
}

.after\:left-0::after {
    content: var(--tw-content);
    left: 0px;
}

.after\:-z-\[1\]::after {
    content: var(--tw-content);
    z-index: -1;
}

.after\:block::after {
    content: var(--tw-content);
    display: block;
}

.after\:h-full::after {
    content: var(--tw-content);
    height: 100%;
}

.after\:h-\[12px\]::after {
    content: var(--tw-content);
    height: 12px;
}

.after\:h-\[14px\]::after {
    content: var(--tw-content);
    height: 14px;
}

.after\:w-full::after {
    content: var(--tw-content);
    width: 100%;
}

.after\:w-\[12px\]::after {
    content: var(--tw-content);
    width: 12px;
}

.after\:w-\[14px\]::after {
    content: var(--tw-content);
    width: 14px;
}

.after\:rounded-\[50\%\]::after {
    content: var(--tw-content);
    border-radius: 50%;
}

.after\:bg-white::after {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.after\:bg-primary-500::after {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(85 100 170 / var(--tw-bg-opacity));
}

.after\:content-\[\'\'\]::after {
    --tw-content: "";
    content: var(--tw-content);
}

.focus-within\:outline-dashed:focus-within {
    outline-style: dashed;
}

.focus-within\:outline-1:focus-within {
    outline-width: 1px;
}

.focus-within\:outline-offset-2:focus-within {
    outline-offset: 2px;
}

.focus-within\:outline-neutral-400:focus-within {
    outline-color: #939393;
}

.focus-within\:outline-danger-400:focus-within {
    outline-color: #d83c49;
}

.hover\:border-none:hover {
    border-style: none;
}

.hover\:border-primary-500:hover {
    --tw-border-opacity: 1;
    border-color: rgb(85 100 170 / var(--tw-border-opacity));
}

.hover\:bg-primary-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(85 100 170 / var(--tw-bg-opacity));
}

.hover\:bg-primary-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(213 216 234 / var(--tw-bg-opacity));
}

.hover\:bg-primary-700\/90:hover {
    background-color: rgb(50 58 99 / 0.9);
}

.hover\:bg-primary-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(241 242 248 / var(--tw-bg-opacity));
}

.hover\:bg-neutral-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 249 249 / var(--tw-bg-opacity));
}

.hover\:bg-neutral-300\/90:hover {
    background-color: rgb(186 186 186 / 0.9);
}

.hover\:bg-neutral-50\/80:hover {
    background-color: rgb(248 249 249 / 0.8);
}

.hover\:text-neutral-700:hover {
    --tw-text-opacity: 1;
    color: rgb(88 88 88 / var(--tw-text-opacity));
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:text-neutral-300:hover {
    --tw-text-opacity: 1;
    color: rgb(186 186 186 / var(--tw-text-opacity));
}

.hover\:text-opacity-80:hover {
    --tw-text-opacity: 0.8;
}

.hover\:underline:hover {
    text-decoration-line: underline;
}

.hover\:\!no-underline:hover {
    text-decoration-line: none !important;
}

.hover\:underline-offset-\[6px\]:hover {
    text-underline-offset: 6px;
}

.hover\:opacity-80:hover {
    opacity: 0.8;
}

.hover\:shadow-card:hover {
    --tw-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    --tw-shadow-colored: 0px 0px 16px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.hover\:shadow-md:hover {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
        0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.hover\:shadow:hover {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.hover\:shadow-accent:hover {
    --tw-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    --tw-shadow-colored: 0px 5px 15px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.focus\:outline-dashed:focus {
    outline-style: dashed;
}

.focus\:outline-1:focus {
    outline-width: 1px;
}

.focus\:outline-offset-2:focus {
    outline-offset: 2px;
}

.focus\:outline-neutral-400:focus {
    outline-color: #939393;
}

.rd-highlighted\:bg-neutral-50[data-highlighted] {
    --tw-bg-opacity: 1;
    background-color: rgb(248 249 249 / var(--tw-bg-opacity));
}

.rd-state-checked\:border-success-600[data-state="checked"] {
    --tw-border-opacity: 1;
    border-color: rgb(5 150 105 / var(--tw-border-opacity));
}

.rd-state-checked\:bg-success-50[data-state="checked"] {
    --tw-bg-opacity: 1;
    background-color: rgb(236 253 245 / var(--tw-bg-opacity));
}

.rd-state-checked\:text-success-700[data-state="checked"] {
    --tw-text-opacity: 1;
    color: rgb(4 120 87 / var(--tw-text-opacity));
}

.rd-state-open\:bg-neutral-50[data-state="open"] {
    --tw-bg-opacity: 1;
    background-color: rgb(248 249 249 / var(--tw-bg-opacity));
}
