.custom_control {
    all: unset;
}

.rs_input input {
    font-size: 14px !important;
    line-height: 20px !important;
}

.rs_input::after {
    font-size: 14px !important;
    line-height: 20px !important;
}
