div.restyle-scrollbar::-webkit-scrollbar {
    width: 8px;
}

div.restyle-scrollbar::-webkit-scrollbar-track {
    background-color: #f8f9f9;
}

div.restyle-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e2e2e2;
    border-radius: 10px;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-track {
    background-color: #f8f9f9;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #e2e2e2;
    border-radius: 10px;
}
